{#
/**
 * @file
 * Theme override for the SAHO search exposed form.
 *
 * Available variables:
 * - attributes: HTML attributes for the <form> tag.
 * - children: The rendered form elements.
 *
 * @see template_preprocess_form()
 */
#}

<form{{ attributes.addClass('saho-search-form', 'search-form') }}>
  <div class="search-form-wrapper">
    <div class="search-input-group">
      <label class="search-label" for="edit-search-api-fulltext">Search South African History Online</label>
      {{ children|without('actions') }}
    </div>
    <div class="search-actions">
      {{ children.actions }}
    </div>
  </div>
</form>