/**
 * @file
 * Google Docs Field component styles.
 *
 * Component-scoped design tokens using inline CSS custom properties.
 * No external variable dependencies.
 */

.gdoc-field {
  /* Inline design tokens */
  --gdoc-margin-horizontal: 10%;
  --gdoc-width: 80%;
  --gdoc-height: 400px;
  --gdoc-border-width: 1px;
  --gdoc-border-style: solid;
  --gdoc-border-color: #000000;

  /* Layout */
  margin-left: var(--gdoc-margin-horizontal);
  margin-right: var(--gdoc-margin-horizontal);
  width: var(--gdoc-width);
  height: var(--gdoc-height);

  /* Visual */
  border: var(--gdoc-border-width) var(--gdoc-border-style) var(--gdoc-border-color);
}

.gdoc-filename {
  /* Inline design tokens */
  --gdoc-filename-margin-top: 0;
  --gdoc-filename-margin-bottom: 1.5em;
  --gdoc-filename-font-family: serif;
  --gdoc-filename-font-style: italic;
  --gdoc-filename-font-size: 80%;
  --gdoc-filename-text-align: center;

  /* Layout */
  margin-top: var(--gdoc-filename-margin-top);
  margin-bottom: var(--gdoc-filename-margin-bottom);

  /* Typography */
  font-style: var(--gdoc-filename-font-style);
  font-family: var(--gdoc-filename-font-family);
  font-size: var(--gdoc-filename-font-size);
  text-align: var(--gdoc-filename-text-align);
}
