{#
/**
 * @file SAHO Archive status bar SDC. props: stats[] of {label, value}.
 * Values are pre-formatted strings; keep them mono so columns read as a rule.
 */
#}
<div{{ attributes.addClass('saho-archive-status-bar') }}>
  {% for stat in stats %}
    <div class="saho-archive-status-bar__stat">
      <div class="saho-archive-status-bar__label">{{ stat.label }}</div>
      <div class="saho-archive-status-bar__value">{{ stat.value }}</div>
    </div>
  {% endfor %}
</div>
