/**
 * Toolbar icon styling for the SAHO Media Migration module.
 *
 * Drupal Toolbar Integration:
 * - Drupal admin toolbar uses z-index: 501
 * - This module integrates with standard Drupal toolbar patterns
 * - Compatible with both horizontal and vertical toolbar modes
 *
 * Note: Icon paths cannot use CSS custom properties due to browser limitations
 * with url() functions. Paths are kept as static values.
 *
 * Uses SAHO unified design token system for any future styling needs.
 * See /webroot/themes/custom/saho/src/scss/abstracts/_design-tokens.scss
 */

.toolbar-icon-media-migration:before {
  background-image: url(../images/icons/bebebe/media-migration.svg);
}

.toolbar-icon-media-migration:active:before,
.toolbar-icon-media-migration.is-active:before {
  background-image: url(../images/icons/ffffff/media-migration.svg);
}
