{#
/**
 * @file
 * Modern unified grid template for collections page.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapping element.
 * - title: The title of this group of rows.
 * - view: The view object.
 * - items: The items contained in this view.
 * - options: The view plugin style options.
 *
 * @see template_preprocess_views_view_grid()
 */
#}

{# Use unified cards grid system #}
<div{{ attributes.addClass('saho-cards-grid') }}>
  {% for row in items %}
    {% for column in row.content %}
      {% if column.content %}
        {{ column.content }}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>