//
// Better exposed filters
// ----------------------------
@import "../global";

:root {
  --bef-form-margin-bottom: 1.5rem;
  --bef-label-font-size: 1rem;
  --bef-label-font-weight: #{$form-label-font-weight};
  --bef-links-margin-bottom: 0.4rem;
}

.bef-exposed-form {
  margin-bottom: var(--bef-form-margin-bottom);

  .fieldset-legend {
    font-size: var(--bef-label-font-size);
    font-weight: var(--bef-label-font-weight);
    -webkit-appearance: none;
  }
}

.bef-links {
  li {
    margin-bottom: var(--bef-links-margin-bottom);
  }
}
