<div class="tdih-block">
  <h2 class="block-title">{{ label }}</h2>

  {# Render the intro text with raw HTML #}


  {# Render the nodes #}
  {% for node in nodes_rendered %}
    <div class="history-entry">
      <div class="entry-card">
        {{ node }}
      </div>
    </div>
  {% endfor %}
</div>