/**
 * SAHO Theme
 * Modern and Professional
 *
 * This file has been refactored to improve organization and maintainability.
 * Previously 2,598 lines, now split into focused modules:
 * - themes/_bootstrap-overrides.scss - Bootstrap component overrides
 * - components/_blocks.scss - Custom block styling
 * - layout/_views-grid.scss - Grid views and archive layouts
 * - layout/_article-layout.scss - Article/biography page layouts
 * - layout/_responsive-content.scss - Global responsive fixes
 *
 * Variables are defined in _variables.scss
 * Font imports are handled in _typography.scss
 */

// Navbar

.navbar {
  // Removed border as per user request
  // border-style: solid;
  // border-width: 1px;

  &-fixed-top {
    border-width: 0;
  }

  &-fixed-bottom {
    border-style: none;
    border-top-width: 0;
  }

  // Commented out border customizations for bg variants
  // &.bg-primary {
  //   border-color: shade-color($primary, 13%) !important;
  // }
  //
  // &.bg-dark {
  //   border-color: shade-color($dark, 13%) !important;
  // }
  //
  // &.bg-light {
  //   border-color: shade-color($white, 13%);
  // }
}
