{#
/**
 * @file
 * Theme override for unformatted product views.
 *
 * Available variables:
 * - title: The title of the view.
 * - rows: The output of each row.
 * - view: The view object.
 */
#}
{% if title %}
  <h2 class="view-title">{{ title }}</h2>
{% endif %}

<div class="product-grid">
  {% for row in rows %}
    <div{{ row.attributes.addClass('product-grid__item') }}>
      {{ row.content }}
    </div>
  {% endfor %}
</div>
