//
// Footer region
// ----------------------------

.region-footer {
  margin-top: var(--footer-margin-top, 5rem);

  // Columns
  .menu--catalog,
  .menu--footer {
    @include make-col-ready;

    .nav {
      flex-direction: column;

      &-link {
        display: inline-block;
      }
    }

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }

    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
  }

  .block-system-powered-by-block a {
    font-weight: bold;
  }

  @include media-breakpoint-down(md) {
    // Social menu alignment
    .menu--social .nav {
      justify-content: center;
    }
  }
}

// Site footer (dark footer)
// ----------------------------
.site-footer {
  a {
    color: rgb(255 255 255 / 85%);
    text-decoration: none;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }

  // Footer bottom copyright section
  .footer-bottom-text {
    color: rgb(255 255 255 / 85%);

    a {
      color: rgb(255 255 255 / 85%);

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }
}
