{#
/**
 * @file
 * Minimalist Footer for SAHO, matching the provided mockup.
 * White background, grey text, subtle divider lines.
 */
#}
{% apply spaceless %}
<footer class="saho-footer">
  <div class="footer-top container py-4">
    <div class="row g-4 align-items-start">
      
      <!-- Column 1 -->
      <div class="col-12 col-md-3 footer-col text-center">
        <ul class="list-unstyled footer-links mb-2">
          <li><a href="/support-saho" class="footer-donate-btn">Donate to SAHO</a></li>
        </ul>
        <img
          src="/themes/custom/saho/logo.svg"
          alt="SAHO Logo"
          class="footer-logo-img"
        />
      </div>

      <!-- Column 2 -->
      <div class="col-12 col-md-3 footer-col text-center">
        <ul class="list-unstyled footer-links mb-0">
          <li><a href="/about-us">About us</a></li>
          <li><a href="/saho-timeline">SAHO Timeline</a></li>
          <li><a href="/about-us#saho-board-members">SAHO Board Members</a></li>
          <li><a href="/funders">Funders</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-12 col-md-3 footer-col text-center">
        <ul class="list-unstyled footer-links mb-0">
          <li><a href="/contact-us">Contact us</a></li>
          <li><a href="/form/contribute">Contribute</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/policy">Copyright &amp; Disclaimer</a></li>
        </ul>
      </div>

      <!-- Column 4: Social icons -->
      <div class="col-12 col-md-3 footer-col text-center">
        <strong class="footer-heading d-block mb-2">Follow us</strong>
          <ul class="list-unstyled d-flex flex-row footer-social-links mb-0 justify-content-center">
            <li class="me-3">
              <a href="https://facebook.com/sahistoryonline" class="footer-social-link" target="_blank">
                <img src="/themes/custom/saho/components/page-footer/icons/Facebook.svg" alt="Facebook" />
              </a>
            </li>
            <li class="me-3">
              <a href="https://instagram.com/sa_history_online" class="footer-social-link" target="_blank">
                <img src="/themes/custom/saho/components/page-footer/icons/Instagram.svg" alt="Instagram" />
              </a>
            </li>
            <li class="me-3">
              <a href="https://youtube.com/@sahistoryonline1" class="footer-social-link" target="_blank">
                <img src="/themes/custom/saho/components/page-footer/icons/Youtube.svg" alt="YouTube" />
              </a>
            </li>
            <li class="me-3">
              <a href="https://github.com/South-African-History-Online/sahistory-web/issues/new" class="footer-social-link" target="_blank">
                <img src="/themes/custom/saho/components/page-footer/icons/Github.svg" alt="GitHub" />
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>

  <!-- Thin divider -->
  <hr class="footer-divider" />

  <!-- Bottom row -->
  <div class="footer-bottom container py-3 text-center">
    <p class="footer-address mb-1">349 Albert Road, Woodstock</p>
    <p class="mb-1">
      &copy; {{ "now"|date("Y") }} South African History Online
    </p>
    <p class="footer-npo mb-0">
      NPO Registration: 037-117-NPO
    </p>
  </div>
</footer>
{% endapply %}
