:root {
  --checkout-pane-spacing: var(--form-item-spacing);
  --checkout-pane-neutral-bg: var(--beo-light);
  --checkout-pane-border-radius: var(--beo-border-radius);
  --checkout-pane-border-color: var(--beo-border-color);
  --checkout-pane-active-border-color: var(--beo-primary);
}

.checkout-pane {
  margin-bottom: 0;
}
.checkout-pane .fieldset-pane__legend {
  margin-bottom: 0;
}
.checkout-pane > .form-wrapper {
  margin-bottom: var(--checkout-pane-spacing);
}
.checkout-pane > .fieldgroup:last-child,
.checkout-pane > .form-wrapper:last-child,
.checkout-pane > .form-wrapper > .form-item:last-child,
.checkout-pane .form-wrapper:last-child .form-check:last-child {
  margin-bottom: 0;
}
.checkout-pane .address {
  background: var(--checkout-pane-neutral-bg);
  padding: calc(var(--checkout-pane-spacing) / 2);
  margin-bottom: calc(var(--checkout-pane-spacing) / 2);
}
.checkout-pane .ajax-spinner {
  position: absolute;
}
.checkout-pane .form-radios .form-check {
  position: relative;
  display: block;
  padding: 1.25rem;
  margin: 0;
  border: 1px solid var(--checkout-pane-border-color);
  background: var(--beo-white);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.checkout-pane .form-radios .form-check:hover {
  border-color: var(--checkout-pane-active-border-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.checkout-pane .form-radios .form-check-input {
  margin: 0.125rem 0.75rem 0 0.25rem;
}
.checkout-pane .form-radios .form-check-label {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  font-weight: 500;
  cursor: pointer;
}
.checkout-pane .form-radios .form-check-label::after {
  content: "";
  position: absolute;
  inset: 0;
}
.checkout-pane .form-radios .description {
  margin: 0.5rem 0 0 2.125rem;
  font-size: 0.875rem;
  color: var(--beo-secondary-color);
  line-height: 1.4;
  font-weight: 400;
}
.checkout-pane .form-radios .form-check-input:checked ~ .form-check-label {
  color: var(--checkout-pane-active-border-color);
}
.checkout-pane .form-radios .form-check-input:checked ~ .form-check-label::before {
  border-color: var(--checkout-pane-active-border-color);
  background: var(--beo-primary);
  background-image: radial-gradient(circle, var(--beo-white) 30%, transparent 30%);
}
.checkout-pane .form-radios .form-check-input:checked ~ .description {
  color: var(--beo-primary);
  opacity: 0.8;
}
.checkout-pane .form-radios .form-check:has(.form-check-input:checked) {
  border-color: var(--checkout-pane-active-border-color);
  background: var(--checkout-pane-neutral-bg);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.checkout-pane .form-radios .form-check:has(.form-check-input:focus) {
  box-shadow: 0 0 0 0.2rem rgba(var(--beo-primary-rgb), 0.25);
}
.checkout-pane .form-radios .form-check:has(.form-check-input:disabled) {
  opacity: 0.6;
  cursor: not-allowed;
  background: var(--beo-light);
}
.checkout-pane .form-radios .form-check:has(.form-check-input:disabled):hover {
  border-color: var(--checkout-pane-border-color);
  background: var(--beo-light);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.checkout-pane .form-radios .form-check-input:disabled ~ .description {
  opacity: 0.4;
  color: var(--beo-secondary-color);
}

.checkout-pane-shipping-information .container--edit-shipping-information-shipping-profile {
  margin-bottom: var(--checkout-pane-spacing);
}

.checkout-review-edit-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.checkout-review-edit-link a {
  display: inline-block;
  border: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-square' viewBox='0 0 16 16'%3E %3Cpath d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'/%3E %3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z'/%3E %3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-square' viewBox='0 0 16 16'%3E %3Cpath d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'/%3E %3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z'/%3E %3C/svg%3E");
  -webkit-mask-size: 1.2rem;
          mask-size: 1.2rem;
  font-size: 0;
  background-color: currentColor;
  margin-left: 0.5rem;
}

.field--name-shipping-method .field__label {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

/*# sourceMappingURL=checkout-pane.css.map */