:root {
  --coupon-redemption-title-font-size: 1rem;
  --coupon-redemption-title-font-weight: bold;
  --coupon-redemption-item-gap: 0.5rem;
  --coupon-redemption-item-border: 1px solid var(--bs-border-color);
  --coupon-redemption-item-close-icon-size: 1.125rem;
  --coupon-redemption-item-background: var(--beo-white);
  --coupon-redemption-item-color: var(--beo-black);
  --coupon-redemption-item-label-margin-bottom: 1rem;
  --coupon-redemption-code-font-size: 0.875rem;
  --coupon-redemption-code-padding: 0.25rem 0.5rem;
  --coupon-redemption-code-margin: 0.25rem;
  --coupon-redemption-code-color: var(--beo-black);
}

.coupon-redemption-form .coupon-list {
  margin-bottom: var(--form-item-spacing);
}
.coupon-redemption-form .coupon-list__title {
  margin-bottom: var(--coupon-redemption-item-label-margin-bottom);
  font-size: var(--coupon-redemption-title-font-size);
  font-weight: var(--coupon-redemption-title-font-weight);
}
.coupon-redemption-form .coupon-list__items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--coupon-redemption-item-gap);
}
.coupon-redemption-form .coupon-list__coupon {
  align-items: center;
  background-color: var(--coupon-redemption-item-background);
  color: var(--coupon-redemption-item-color);
  display: flex;
  gap: var(--coupon-redemption-item-gap);
}
.coupon-redemption-form .coupon-list__coupon-code {
  color: var(--coupon-redemption-code-color);
  font-family: var(--beo-font-monospace);
  font-size: var(--coupon-redemption-code-font-size);
  font-weight: 400;
  padding: var(--coupon-redemption-code-padding);
}
.coupon-redemption-form .coupon-list__coupon-remove input {
  transition: opacity 0.15s linear;
  opacity: 0.5;
  display: inline-block;
  border: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--coupon-redemption-item-close-icon-size);
  height: var(--coupon-redemption-item-close-icon-size);
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'%3E %3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E %3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'%3E %3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E %3C/svg%3E");
  -webkit-mask-size: var(--coupon-redemption-item-close-icon-size);
          mask-size: var(--coupon-redemption-item-close-icon-size);
  font-size: 0;
  background-color: var(--coupon-redemption-item-color);
}
.coupon-redemption-form .coupon-list__coupon-remove input:hover {
  opacity: 1;
}
.coupon-redemption-form__form {
  flex-wrap: nowrap;
  align-items: flex-end;
}
.coupon-redemption-form__form .form-item {
  margin-bottom: 0;
}
.coupon-redemption-form__form .form-submit {
  width: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-arrow-right' viewBox='0 0 16 16'%3E %3Cpath fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8'/%3E %3C/svg%3E");
  overflow: hidden;
  text-indent: 9999px;
}

.form-style-floating_labels .coupon-redemption-form__form {
  align-items: stretch;
}

/*# sourceMappingURL=checkout-coupon-redemption.css.map */