.checkout-pane-payment-information .fieldgroup {
  margin-bottom: 0;
}
.checkout-pane-payment-information .form-radios {
  display: flex;
  flex-direction: column;
}
.checkout-pane-payment-information:has(.form-radios) .fieldset-pane__content-inner > .fieldgroup + .form-wrapper {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .checkout-pane-payment-information .form-radios {
    gap: 0.5rem;
  }
}
.checkout-pane-payment-information .field--type-address {
  margin-top: var(--form-item-spacing);
}
.checkout-pane-payment-information .payment-method-icon-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.checkout-pane-payment-information .payment-method-icon-list .payment-method-icon {
  margin: 0;
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form),
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper {
  padding: var(--checkout-pane-spacing);
  background: var(--checkout-pane-neutral-bg);
  margin-bottom: var(--checkout-pane-spacing);
  border: 1px solid var(--beo-border-color);
  border-radius: var(--beo-border-radius);
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .credit-card-form,
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .braintree-form,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .credit-card-form,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .braintree-form {
  margin-bottom: calc(var(--checkout-pane-spacing) / 2);
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .form-item,
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .credit-card-form__expiration,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .form-item,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .credit-card-form__expiration {
  margin-bottom: var(--checkout-pane-spacing);
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .credit-card-form__expiration .form-item,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .credit-card-form__expiration .form-item {
  margin-bottom: 0;
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .payment-method-icon-list,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .payment-method-icon-list {
  margin-bottom: calc(var(--checkout-pane-spacing) / 2);
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .credit-card-form__divider,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .credit-card-form__divider {
  margin: 1.6em 0.5em 0;
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .form-item,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .form-item {
  flex: 1;
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .form-item:last-child,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .form-item:last-child {
  margin-bottom: 0;
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) .form-item-payment-information-add-payment-method-payment-details-expiration-divider,
.checkout-pane-payment-information .fieldset-pane__content-inner > .fieldgroup + .form-wrapper .form-item-payment-information-add-payment-method-payment-details-expiration-divider {
  flex: 0;
}
.checkout-pane-payment-information .fieldset-pane__content-inner > .form-wrapper:first-child:has(.credit-card-form) {
  margin-bottom: 0;
}

.braintree-form .form-item {
  margin-bottom: calc(var(--checkout-pane-spacing) / 2) !important;
}
.braintree-form .credit-card-form__expiration {
  margin-bottom: 0 !important;
}
.braintree-form .credit-card-form__divider {
  margin: 2.4rem 0.5rem 0 !important;
}
.braintree-form #card-number,
.braintree-form #expiration-year,
.braintree-form #expiration-month,
.braintree-form #cvv {
  width: auto !important;
  height: 2em !important;
}

/*# sourceMappingURL=payment-information.css.map */