{#
/**
 * @file
 * Template for the Citation Block.
 *
 * Available variables:
 * - content: The content of the block.
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: HTML attributes for the title.
 * - content_attributes: HTML attributes for the content.
 */
#}
<div{{ attributes.addClass('citation-block') }}>
  <button class="btn btn-outline-primary btn-sm citation-trigger" data-citation-trigger="true">
    <i class="fas fa-quote-left me-1"></i> {{ 'Cite This Page'|t }}
  </button>
</div>