{#
/**
 * @file
 * Default theme implementation to display a single citation format.
 *
 * Available variables:
 * - citation: The citation text.
 * - format: The citation format (harvard, apa, or chicago).
 */
#}
<div class="citation-formatter citation-formatter-single">
  <div class="citation-content {{ format }}-citation">
    <h4>{{ format|capitalize }} Citation</h4>
    <div class="citation-text">
      {{ citation|raw }}
    </div>
    <button class="btn btn-sm btn-outline-secondary copy-individual mt-2">Copy Citation</button>
  </div>
</div>