{#
/**
 * @file
 * Template for adding citation button to node templates.
 *
 * This template is meant to be included in node templates to add the citation button.
 * It should be included in the article meta section or another appropriate location.
 *
 * Available variables:
 * - citation_button: The rendered citation button.
 */
#}
{% if citation_button %}
  <div class="saho-citation-wrapper">
    {{ citation_button }}
  </div>
{% endif %}