{#
/**
 * @file SAHO Badge SDC. props: type, label, on_image
 */
#}
{% set classes = [
  'saho-badge',
  'saho-badge--' ~ (type|default('article')),
  on_image ? 'saho-badge--on-image' : '',
] %}
<span{{ attributes.addClass(classes) }}>{{ label ?: type|default('article')|capitalize }}</span>
