<div class="tdih-block">
  <h2 class="block-title">This Day in History</h2>

  {# If you want any custom introduction text, you could add a variable here. #}

  {% if nodes_rendered %}
    {% for item in nodes_rendered %}
      {{ item }}
    {% endfor %}
  {% else %}
    <p>No items found.</p>
  {% endif %}
</div>
