//
// Commerce Kickstart Layout builder
// ----------------------------
//
@import "../../global";

:root {
  --block-views-padding-y: 4rem;
  --block-views-content-margin-bottom: 3rem;
  --block-views-title-margin-bottom: 3rem;
  --block-views-title-font-size: #{$h1-font-size};
  --block-views-text-align: center;
  --block-views-footer-btn-min-width: 18rem;
  --footer-margin-top: 0;
}

// Views.
.block-views {
  padding-block: var(--block-views-padding-y);

  h2 {
    @include underline;

    font-size: var(--block-views-title-font-size);
    text-align: var(--block-views-text-align);
    margin-bottom: var(--block-views-title-margin-bottom);
  }

  .view-content {
    margin-bottom: var(--block-views-content-margin-bottom);
  }

  .view-footer {
    text-align: var(--block-views-text-align);

    @include media-breakpoint-up(md) {
      .btn {
        min-width: var(--block-views-footer-btn-min-width);
      }
    }
  }
}
