//
// Payment Method
// ----------------------------
//

.payment-method {
  &-icon {
    box-shadow: 0 0 0 1px var(--beo-border-color);
    margin: 0 0.75rem 0 0;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: calc(var(--form-item-spacing) / 2);

    .payment-method-icon {
      margin: 0;
    }
  }
}
