// Order Summary
// ==================================
//
.order-total-summary {
  --order-total-summary-spacing: var(--form-item-spacing);
  --order-total-summary-adjustment-font-size: 0.875rem;
  --order-total-summary-adjustment-font-weight: 500;
  --order-total-summary-subtotal-font-weight: 500;
  --order-total-summary-subtotal-font-size: 1rem;
  --order-total-summary-total-font-size: 1.125rem;
  --order-total-summary-total-font-weight: 600;
  --order-total-summary-total-border-top: 1px solid var(--beo-border-color);

  margin-bottom: var(--order-total-summary-spacing);
  text-align: right;

  &__inner {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    gap: calc(var(--order-total-summary-spacing) / 2) calc(var(--order-total-summary-spacing) / 4);
    margin-bottom: var(--order-total-summary-spacing);
    padding-left: 2rem;
    min-width: 18rem;
  }

  .order-total-line-label {
    text-align: left;
  }

  .order-total-line-value {
    text-align: right;
  }

  .order-total-line-label__subtotal,
  .order-total-line-value__subtotal {
    font-weight: var(--order-total-summary-subtotal-font-weight);
    font-size: var(--order-total-summary-subtotal-font-size);
  }

  .order-total-line-label__adjustment,
  .order-total-line-value__adjustment {
    font-size: var(--order-total-summary-adjustment-font-size);
  }

  .order-total-line-label__total,
  .order-total-line-value__total {
    font-weight: var(--order-total-summary-total-font-weight);
    font-size: var(--order-total-summary-total-font-size);
  }

  .order-total-line-divider {
    grid-column: 1 / -1;
    border-top: var(--order-total-summary-total-border-top);
    margin-left: -2rem;
  }
}

// Full Width.
.order-total-summary--full-width,
.checkout-pane-order-summary {
  .order-total-summary__inner {
    display: grid;
    padding-left: 0;
    min-width: auto;
  }

  .order-total-line-divider {
    margin-left: 0;
  }
}
