{#
/**
 * @file
 * Template for the premium SAHO timeline using TimelineJS3.
 *
 * Available variables:
 * - events: Array of timeline events.
 * - filters: Available filter options.
 * - attributes: HTML attributes for the wrapper.
 */
#}

<div{{ attributes.addClass('timeline-premium') }}>
  {# TimelineJS3 will be initialized here by JavaScript #}
</div>
