//
// Article
// ----------------------------
//
@import "../global";

:root {
  --footer-margin-top: 0;
}

.page-title {
  max-width: $container-narrow-width;
  margin-inline: auto;
  line-height: 1.4;
}

.node--view-mode-full {
  // Article body
  .field--name-body {
    padding-bottom: 2rem;
  }

  .field--name-field-tags {
    margin-bottom: 2rem;
  }

  // Article links
  .node__content {
    > .links {
      margin-block: 1rem 4rem;

      a {
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
        border-bottom: 1px solid $primary;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }
  }

  // Article image
  .node--type-article__image {
    position: relative;
  }
}
