//
// Catalog page
// ----------------------------
//
@import "../global";

// Catalog view.
.view-product-catalog {
  @include media-breakpoint-up("lg") {
    .views-exposed-form {
      display: flex;
      flex-wrap: wrap;

      .form-label {
        margin: 0 0.5rem 0 0;
        white-space: nowrap;
        font-weight: bold;
      }

      .form-item,
      .form-actions {
        display: flex;
        align-items: center;
      }

      .form-item {
        margin: 0.5rem 1.5rem 0.5rem 0 !important;
      }

      // Minimal form styles.
      &.form-style-minimal {
        align-items: flex-end;

        .form-item {
          display: block;
        }
      }
    }
  }
}
