{#
/**
 * @file
 * Custom inline block template for Upcoming Events block.
 *
 * Displays upcoming events in portrait leaflet format with proper date formatting.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 */
#}

<div class="block-section block-section--wide">
  <div class="block-section-header">
    <div class="block-title-wrapper">
      {{ title_prefix }}
      {% if label %}
        <h2>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
    </div>
  </div>

  <div class="block-content upcoming-events-grid-wrapper">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>