<div class="block-section">
  <h2>Featured topics</h2>
  <p class="intro-text">Discover important themes, topics and events from South Africa’s past with our staff picks</p>

  {% if article_item %}
    {% if article_item.image %}
      <img src="{{ article_item.image }}" alt="{{ article_item.title|striptags }}" class="block-image" />
    {% endif %}

    <div class="block-label">Article</div>

    <h3>
      <a href="{{ article_item.url }}">{{ article_item.title }}</a>
    </h3>
  {% else %}
    <p class="block-main-text">No featured article found.</p>
  {% endif %}

  <a href="/featured" class="block-button">More features</a>
</div>