<div class="tdih-block">
  <h2 class="block-title">This Day in History</h2>

  {% if nodes_data %}
    <div class="tdih-list">
      {% for item in nodes_data %}
        <article class="tdih-item">
          <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
          <p class="date">{{ item.created|date('F j, Y') }}</p>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <p>No events found.</p>
  {% endif %}
</div>

{{ dump() }}