.tdih-block {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .tdih-item {
    margin-bottom: 15px;
  }
  
  .tdih-item .date {
    color: #666;
    font-size: 0.9em;
  }
  