{#
/**
 * @file
 * Theme override to display a 404 error page.
 *
 * Available variables:
 * - base_path: The base URL path of the Drupal installation.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 * - front_page: The URL of the front page.
 * - page: Page content regions.
 */
#}
{% include "@saho/content/header.html.twig" %}

{# Main content - Custom 404 page #}
<div class="page">
  {% include 'saho:page-navigation' %}

  <main class="py-5">
    <div class="page__content" id="main-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Page Not Found</h1>
            <div class="error-code mb-4">
              <span class="display-1 fw-bold">404</span>
            </div>
            <p class="lead mb-4">
              We're sorry, but the page you were looking for doesn't exist or has been moved.
            </p>
            <div class="mb-5">
              <p>Here are some helpful links:</p>
              <ul class="list-unstyled">
                <li class="mb-2">
                  {% include 'saho:saho-button' with {
                    text: 'Return to Home Page',
                    url: front_page,
                    variant: 'primary',
                    size: 'medium'
                  } %}
                </li>
                <li class="mb-2">
                  {% include 'saho:saho-button' with {
                    text: 'Search Our Site',
                    url: '/search',
                    variant: 'secondary',
                    size: 'medium'
                  } %}
                </li>
              </ul>
            </div>

            <div class="card border-0 bg-light p-4 mt-4">
              <div class="card-body">
                <h3 class="mb-3">Contribute to South African History Online</h3>
                <p>
                  Do you have information about the topic you were looking for? 
                  SAHO is a collaborative project that relies on contributions from 
                  researchers, writers, and members of the public.
                </p>
                <p>
                  Your knowledge and resources can help us expand our historical archives 
                  and make South African history more accessible to everyone.
                </p>
                {% include 'saho:saho-button' with {
                  text: 'Contribute to SAHO',
                  url: '/form/contribute',
                  variant: 'primary',
                  size: 'medium',
                  attributes: {
                    class: ['mt-2']
                  }
                } %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% include 'saho:page-footer' %}