name: PR Build and Test

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:
  frontend-build:
    name: Frontend Build and Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: webroot/themes/custom/saho/package-lock.json
    
    - name: Install dependencies and build frontend
      working-directory: webroot/themes/custom/saho
      run: |
        chmod +x ci-build.sh
        ./ci-build.sh

  validate-composer:
    name: Validate Composer
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '8.3' ]
        dependency-version: [ prefer-lowest, prefer-stable ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP, with Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Validate Composer files
        run: |
          composer config --no-plugins allow-plugins.mglaman/composer-drupal-lenient true
          composer validate --strict composer.json
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction

  php-coding-standards:
    name: PHP Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP, with Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          tools: composer:v2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Dependencies
        run: |
          composer config --no-plugins allow-plugins.mglaman/composer-drupal-lenient true
          composer install --no-interaction --no-progress

      - name: Install PHPCS
        run: composer require squizlabs/php_codesniffer --dev

      - name: Install Drupal Coder and Slevomat Coding Standard
        run: |
          composer require --dev drupal/coder
          composer require --dev slevomat/coding-standard

      - name: PHPCS
        run:  ./vendor/bin/phpcs --standard=Drupal --extensions=php webroot/modules/custom

  drupal-check:
    name: Drupal Best Practices
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP, with Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          tools: composer:v2

      - name: Install Drupal Check
        run: composer require mglaman/drupal-check --dev

      - name: Run Drupal Best Practices Check
        run: |
          # Check only src directories to exclude tests
          find webroot/modules/custom -maxdepth 2 -type d -name "src" -exec ./vendor/bin/drupal-check {} \;
