//
// Tables
// ----------------------------

@import "bootstrap/scss/tables";

// Align the last column to the right
.table-last-right {
  td:last-child,
  th:last-child,
  .links {
    text-align: right;
  }

  td.views-empty {
    text-align: center;
  }
}

// Remove padding from the first and last column
.table-no-padding-x {
  td,
  th {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
