//
// Mini Pager
// -----------

@import "../global";

:root {
  --mini-pager-color: var(--beo-primary);
  --mini-pager-margin-top: 3rem;
  --mini-pager-padding-top: 2rem;
  --mini-pager-border-top: 1px solid var(--mini-pager-color);
  --mini-pager-gap: 0.5rem;
}

.mini-pager {
  margin-top: var(--mini-pager-margin-top);
  padding-top: var(--mini-pager-padding-top);
  border-top: var(--mini-pager-border-top);

  .pagination {
    display: flex;
    justify-content: space-between;
  }

  .page-item {
    .page-link {
      padding: 0;
      border: none;
      background-color: transparent;
      color: var(--mini-pager-color);
      font-weight: $font-weight-bold;
      font-size: 1rem;
      line-height: 1.2;
      text-decoration: none;
      transition: $transition-base;
      text-transform: uppercase;

      &:hover {
        background-color: transparent;
        color: var(--mini-pager-color);
      }
    }

    &.disabled {
      .page-link {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
