{% extends "page.html.twig"  %}

{% do attach_library('saho_shop/page.authenticate') %}

{% do attributes.addClass('user-authenticate') %}

{% block main %}
<main id="main-content" role="main">
  <div class="user-authenticate__main">
    {{ page.content }}
  </div>
</main>
{% endblock %}
